@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-navigation-size: 20px !important;
  --swiper-theme-color: #6e6ad2 !important;
}
/* :root {
  --foreground-hex: 0, 0, 0;
  --background-start-hex: #E4E6FF;
  --background-mid-hex: #FFF;
  --background-end-hex: #E4EBFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: 0, 0, 0;
    --background-start-hex: #1F1E3B;
    --background-mid-hex: #000000;
    --background-end-hex: #1E323B;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    15deg,
    var(--background-start-hex) 0%,
    var(--background-mid-hex) 50%,
    var(--background-end-hex) 100%
    );
} */
